<html>
	<link href="/css/general.css" rel="stylesheet">
	<link href ="/css/choose.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

	<div class = "container">
	<head>
	
		<title>FocusFriend</title>
		<center>
			<h1>Choose your Spirit Animal:</h1>
			{{#each animals}}
				<div class = "animal">
					<h3>{{species}}</h3>

					<button type ="submit" id = "{{id}}" value = "{{id}}" onclick ="store({{id}});"><img src = "{{imageURL}}" alt = "{{species}}"></button>

					<!--<a href="./nameFriend" onclick = "store({{species}});" ><img id="{{species}}" src ="{{imageURL}}" /></a>-->


					<!--
					<script type="text/javascript">
					$(document).ready(function () {
  
	
						// $('#url').click(function(){
  				// 		localStorage.setItem("chosenAnimal", {{{species}}});
						// });

						
					});
					</script>
					-->

					<p>{{description}}</p>
					<br>
					<br>
				</div>
			{{/each}}

			<script type = "text/javascript">
				function store(i) {
					console.log(i);
					var input = document.getElementById(i);
					localStorage.setItem("animalID", input.value);
					location.href = "./nameFriend";

				}
			</script>

			<script>

			var fs = require('fs')

fs.readFile('./users.json', 'utf-8', function(err, data) {
	if (err) throw err

	var arrayOfObjects = JSON.parse(data)
	arrayOfObjects.users.push({
		url: "chosenAnimalfromChoose"
	})

	console.log(arrayOfObjects)

	fs.writeFile('./users.json', JSON.stringify(arrayOfObjects), 'utf-8', function(err) {
		if (err) throw err
		console.log('Done!')
	})
})	

				//localStorage.clear();
	
		$(".addressClick").click(function () {
			        var addressValue = $(this).attr("href");
			        var chosenAnimal = addressValue;
			        localStorage.setItem("chosenAnimal", addressValue);
 });

						 

			</script>
	</head>
<body>
</body>
</html>
