<html> 
	<link href ="/css/diary.css" rel="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
		<a href ="/"><i class ="fa fa-home fa-2x"></i></a>
		<title>FocusFriend</title>
		<center>
			<h1>D i a r y</h1>
	</head>
	<body>
<<<<<<< HEAD
		<div class = "searchWrap">
			<div class ="searchbar">
				<input type ="text" class ="searchInput">
					<button type ="submit" class ="searchButton">
						<i class ="fa fa-search"></i>
					</button>
			</div>
		</div>
		<br>
		<br>
		<br>
		{{#each diaries}}
		<div class ="entry" id="{{id}}">
			<a href = "#">{{diaryName}}     {{date}}</a>
=======
			<img src="FocusFriend/ixd-skeleton/images/searchbar.png" />
		<p>search bar goes here</p>
		{{#each diaries}}
		<div class ="entry" id="{{id}}">
			<a href = "entry">{{diaryName}}  |  {{date}}</a>
>>>>>>> c87b95103d6233a67444b99bd96c5daf1c2f856b
			<br />
			<br />
		</div>
		{{/each}}
		</center>
	</body>
<<<<<<< HEAD
	</div>
=======
>>>>>>> c87b95103d6233a67444b99bd96c5daf1c2f856b
</html>

