<html> 
	<link href= "/css/general.css" rel="stylesheet">
	<link href="/css/highcharts.css" rel ="stylesheet">
	<script defer src = "/js/fontawesome-all.js"></script>
	<div class = "container">
	<head>
		<a href ="./index"><i class ="fa fa-home fa-1x"></i></a>
		<!--chart stuff-->

		<title>FocusFriend</title>
		<center>
			<h1>Progress</h1>
		</center>
	</head>
	<body>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/highcharts.js"></script>
		<script src="/js/exporting.js"></script>

		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


		<script type="text/javascript">
        var point = localStorage.getItem("percent");
        var d = new Date();
        var days = ["Sun", "M", "T", "W", "Th", "F", "Sat"];
        var dayToday = days[d.getDay()];
            if(dayToday == "Sun"){
                
            }

Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{date}}'
    },
    subtitle: {
        text: 'Productivity Levels'
    },
    xAxis: {
        categories: ['Sun', 'M', 'T', 'W', 'Th', 'F', 'Sat']
    },
    yAxis: {
        title: {
            text: 'Percentage'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [
        {{#each productivity}}
            {{beginmark}}
            name: '{{date}}',
            data: [{{series}}]
            {{endmark}}
        {{/each}}
    ]
});

Highcharts.setOptions({
    lang: {
        drillUpText: ''
    }
});
		</script>
        <link href="/css/diary.css" rel="stylesheet">
	</body>
	</div>
</html>



