<!DOCTYPE HTML>
<html>
    <link href="/css/highcharts.css" rel ="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
    <link href ="/css/entry.css" rel ="stylesheet">
    <a href ="./diary"/>Back</a>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FocusFriend</title>
	</head>
	<body>
<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



		<script type="text/javascript">
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{date}}'
    },
    subtitle: {
        text: 'Productivity Levels'
    },
    xAxis: {
        categories: ['0', '1', '2', '3', '4', '5', '6']
    },
    yAxis: {
        title: {
            text: 'Percentage'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [
        {{#each productivity}}
            {{beginmark}}
            name: '{{date}}',
            data: {{series}}
            {{endmark}}
        {{/each}}
    ]
});
		</script>
	</body>
</html>
